<!DOCTYPE html>
<title>My Orders</title>
{%extends 'customers/home.html'%}
{%block body_block%}
<table class="table table-light" style="color:dark" >
    <tr>
        <td></td>
        <td><strong>Product</strong></td>
        <td><strong>Price</strong></td>
        <td><strong>Address</strong></td>
        <td><strong>Status</strong></td>

    </tr>
    {%for orders in order%}
    <tr>
        <td></td>
        <td>{{orders.product}}</td>
        <td>{{orders.product.price}}</td>
        <td>{{orders.address}}</td>
        <td>{{orders.status}}</td>
        {%if not orders.status == "Cancelled"%}
        <td><a href="{% url 'cancelorder' orders.id%}" class="btn btn-danger btn-sm">Cancel Order</a></td>
        {%endif%}
    </tr>
    {%endfor%}
</table>
{%endblock%}